{% extends 'plantilla.html' %}

{% block titulo %}
    Eliminar Cardex Caja
{% endblock titulo %}

{% block titulo_contenido1 %}
    Eliminar Cardex Caja
{% endblock titulo_contenido1 %}

{% block titulo_contenido2 %}
    Eliminar Cardex Caja
{% endblock titulo_contenido2 %}

{% block contenido %}

    <form action="" method="post">
        {% csrf_token %}
        <h1>¿Esta seguro de eliminar: {{ cardex_caja.id}}, {{cardex_caja.fecha_creado_cardex_caja}}?</h1>
        <button type="submit" class="btn btn-danger">Eliminar</button>
       
    </form>
    <button class="btn btn-info" ><a href="{% url 'appfarmaceutica:listar_cardex_caja'  %}"><h4 style="color:#ffffff ">Cancelar</h4></a></button>
{% endblock contenido %}