{% extends 'plantilla.html' %}

{% block titulo %}
    Eliminar Detalle Traslado Producto
{% endblock titulo %}

{% block titulo_contenido1 %}
    Eliminar Detalle Traslado Producto
{% endblock titulo_contenido1 %}

{% block titulo_contenido2 %}
    Eliminar Detalle Traslado Producto
{% endblock titulo_contenido2 %}

{% block contenido %}

    <form action="" method="post">
        {% csrf_token %}
        <h1>¿Esta seguro de eliminar : {{ detalle_traslado_producto.id}}, {{detalle_traslado_producto.cantidad_detalle_traslado_producto}}?</h1>
        <button type="submit" class="btn btn-danger">Eliminar</button>
  
    </form>
    <button class="btn btn-info" ><a href="{% url 'appfarmaceutica:crear_detalle_traslado_producto'  %}"><h4 style="color:#ffffff ">Cancelar</h4></a></button>
{% endblock contenido %}