{% extends 'plantilla.html' %}

{% block titulo %}
    Eliminar Totales
{% endblock titulo %}

{% block titulo_contenido1 %}
    Eliminar Totales
{% endblock titulo_contenido1 %}

{% block titulo_contenido2 %}
    Eliminar Totales
{% endblock titulo_contenido2 %}

{% block contenido %}

    <form action="" method="post">
        {% csrf_token %}
        <h1>¿Esta seguro de eliminar: {{ totales.id}}, {{totales.nombre}}?</h1>
        <button type="submit" class="btn btn-danger">Eliminar</button>
        
    </form>
    <button class="btn btn-info" ><a href="{% url 'appfarmaceutica:listar_totales'  %}"><h4 style="color:#ffffff ">Cancelar</h4></a></button>
{% endblock contenido %}