{% extends 'plantilla.html' %}

{% block titulo %}
    Listar Tipo Activo Fijo
{% endblock titulo %}

{% block titulo_contenido1 %}
    Listar Tipo Activo Fijo
{% endblock titulo_contenido1 %}

{% block titulo_contenido2 %}
    Lista de Tipo Activo Fijo
{% endblock titulo_contenido2 %}

{% block contenido %}

    <style>
        th, td {
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        }
    </style>

    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>descripcion</th>
            
        </tr>
        </thead>
        <tbody>
                {% for tipo_activo_fijos in tipo_activo_fijo %}
                <tr>
                        <td>{{ tipo_activo_fijos.id}} </td>  
                        <td>{{ tipo_activo_fijos.descripcion_tipo_activo_fijo}} </td>

                        <td><button class="btn btn-info" ><a href="{% url 'appfarmaceutica:editar_tipo_activo_fijo' pk=tipo_activo_fijos.pk  %}"><h4 style="color:#ffffff ">Editar</h4></a></button></td>
                        <td><button class="btn btn-danger" ><a href="{% url 'appfarmaceutica:eliminar_tipo_activo_fijo' pk=tipo_activo_fijos.pk  %}"><h4 style="color:#ffffff ">Eliminar</h4></a></button></td>
                        
                </tr>
                {% endfor %}
    
        </tbody>
        </table>
        <td><button class="btn btn-primary" ><a href="{% url 'appfarmaceutica:crear_tipo_activo_fijo'  %}"><h4 style="color:#ffffff ">Crear</h4></a></button></td>
{% endblock contenido %}