<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>confirmacion</title>
</head>
<body>
   
   
   
   
   
   
   
    <h1>Usuario autenticado</h1>
    

    <h2>
        {% if usaer.is_authenticated %}
            {{user.username}}
            {% else %}
                <a href="{% url 'login' %}"></a>
        {% endif %}
    </h2>

        <h1>Signup</h1>
    <form action="" method="post">
            {% csrf_token %}
        <input type="hidden" name="action" value="signup">

        <input type="text" name="username">
        <input type="text" name="password">

        <button type="submit">signup</button>
    </form>


</body>
</html>